@font-face {
    font-family: 'Bebas Neue';
    src: url('/fonts/Bebas_Neue/BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Mono';
    src: url('/fonts/Space_Mono/SpaceMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} 

@font-face {
    font-family: 'Stick';
    src: url('/fonts/Stick/Stick-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} 