---
import App from "../../../components/App";
import "../../../styles/fonts.css";
import { withBasePath } from "../../../utils/basePath";

export const prerender = false;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WARLOK</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Space+Mono&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      type="image/png"
      href={withBasePath("assets/images/W.png")}
    />
  </head>
  <body>
    <div id="root">
      <App client:only="preact" />
    </div>
  </body>
</html>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    margin: 0;
    background: #000;
    color: #d9d9d9;
    font-family: "Space Mono", monospace;
    min-height: 100vh;
  }

  #root {
    min-height: 100vh;
  }
</style>
